
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 7px;
  display: inline-block;
  background-color: wheat;
  opacity: 0.8;
  border-radius: 5px;  
  font-size: 2em;
}
nav a:visited, a:link {
  color: darkblue;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}


