<div>
    <h3>Select items to add to order: {{orderId}}</h3>


    <div>
        <button (click)="goBack()">Back</button>
        <button (click)="addItems()">Place Order</button>
    </div>

    <div class="grid grid-pad">
        <div *ngFor="let item of itemList" 
            (click)="gotoItemDetail(item)" class="col-1-3">
            <div class="module item">
                <h4>{{item.pretty}}</h4>
                <h4>( {{item.price}} nis )</h4>
	    	</div>
	    </div>
    </div>

    
    <br>
    <br>


</div>
