<div *ngIf="order">
	<h2>Order: {{order.date}}</h2>
	<label>responsible: {{order.responsible}}</label>
	<label>status: {{order.status.pretty}}</label>

	<h2>Order items:</h2>
	<ul class="orders">
		<li *ngFor="let orderedItem of order.items" >
			<span class="badge">{{orderedItem.item.pretty}}</span>
			 - {{orderedItem.user}} - {{orderedItem.count}}
			 - {{orderedItem.details}}
		</li>			
	</ul>
	
	<button (click)="goBack()">Back</button>
	<button (click)="gotoAddItem()">Add Item</button>
	<div *ngIf="canSubmit()">
		<button (click)="submitOrder()">Submit</button>
	</div>	
</div>