<div *ngIf="order">
	
	<div *ngIf="error">
			kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
	</div>
	
	<mybig>Order:</mybig><myverybig>{{order.date}}</myverybig>
	<mybig>responsible:</mybig><myverybig>{{order.responsible}}</myverybig>
	<mybig>status:</mybig><myverybig>{{order.status.pretty}}</myverybig>	
	<div>
		<mybig>Order items:</mybig>
		<table>
			<tr>
				<th>Item</th>
				<th>Count</th>
				<th>Details</th>    		
				<th>User</th>
			</tr>
			<tr *ngFor="let orderedItem of order.items" >
				<td>{{orderedItem.item.pretty}}</td>			
				<td>{{orderedItem.count}}</td>
				<td>{{orderedItem.details}}</td>
				<td>{{orderedItem.user}}</td>
			</tr> 
		</table>	
	</div>
	
	<button (click)="goBack()">Back</button>
	<button *ngIf="canAddItem()" (click)="gotoAddItem()">Add Item</button>
	<button *ngIf="canSubmit()" (click)="submitOrder()">Submit Order</button>
</div>