labelb {
  display: inline-block;  
  margin: .5em 0;
  color: #607D8B;
  font-size: 2em;
  font-weight: bold;
  padding-right: 8px;
}
label {
  display: inline-block;  
  margin: .15em 0;
  color: #607D8B;
  font-size: 2em;
  padding-right: 24px;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid steelblue;
    text-align: left;
    padding: 8px;
    /*background-color: azure*/;
}

tr:nth-child(even) {
    background-color: lightcyan;
    opacity: 0.8;
}

tr:nth-child(odd) {
    background-color: lightsteelblue;    
    opacity: 0.8;
}