/* Master Styles */
h1 {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
h2 { 
  /*color: #444;*/
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: bold;
  margin-bottom: 20;
}
body { 
  margin: 2em; 
  
  background-image: url("image/pizza4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
body, input[text], button { 
  /*color: #888;*/ 
  color: darkblue;
  font-family: Cambria, Georgia; 
}
button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  
  background-color: darkcyan;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}
/* everywhere else */
* {
  
  font-family: Arial, Helvetica, sans-serif;
}
